extends layout

block content
  .state-indicator
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a.active(href='#voting_tab') Votează
        li.tab.col.s3
          a(href='#leaderboard_tab') Clasament
        li.tab.col.s3
          a(href='#profile_tab') Nota mea
        





    #voting_tab.col.s12
      .wrapperCenter
        h5.voting-title
          | Cât de hot sunt cei din Carol?
      .voting-card.card
        .card-image.waves-effect.waves-block.waves-light
          img.bigCardPic.activator(src='https://graph.facebook.com/#{current_person.fbId}/picture?width=350&height=350')
        .card-content
          span.activator.card-title
            | #{current_person.name}
            i.material-icons.right more_vert
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | #{current_person.name}
            i.material-icons.right close
          p
            a(href="https://facebook.com/#{current_person.fbId}", target="_blank") Adauga pe FB pe #{current_person.name} 
      .wrapperCenter
          .wrapperInlineBlock
              ul.voting-buttons
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  li.voting-button-li
                    a.voting-button.waves-effect.waves-circle.waves-red.btn-floating(name='#{val}', href='/voted/#{val}/#{current_person.fbId}/#{current_person.nrOfVotes}/#{current_person.score}')
                      = val
      #hiddenData
        #prevGivenScore(data= prevGivenScore)
        #prevAvgScore(data= prevAvgScore)





    #leaderboard_tab.col.s12
      h5.voting-title
        | Cei mai 10 din Carol
      ul.leaderboard-list
        each person in leaderboard_list
          .card.horizontal.leaderboard-item.waves-effect.waves-block.waves-light
            .card-image
              img.smallCardPic.activator(src="https://graph.facebook.com/#{person.fbId}/picture?width=350&height=350")

            .card-content
              .card-content-left
                p= person.name
                .extraContent
                  p
                    a(href="https://facebook.com/#{person.fbId}", target="_blank") Adauga pe FB pe #{person.name} 
              .card-content-right
                p
                  | Nota:  
                  span= person.score
                p 
                  | Voturi: 
                  span= person.nrOfVotes




    #profile_tab.col.s12
      #my_score_wrapper
          .voting-card.card
            .card-image.waves-effect.waves-block.waves-light
              img#current_user_img.bigCardPic.activator
            .card-content
              span.activator.card-title
                | Nota: 
                span#current_user_score
                //
                    p 
                      | Voturi: 
                      span#current_user_votes
              
      a#fb_login_button.btn.btn-block.btn-social.btn-lg.btn-facebook(scope='public_profile,email', onclick="fbLogIn();")
        i.fa.fa-facebook
        | Verifică-ți nota cu Facebook
      
      a#fb_logout_button.btn.btn-block.btn-social.btn-lg.btn-facebook(onclick="fbLogOut();")
        i.fa.fa-facebook
        | Logout
      //
        #status
