extends layout

block content
  .state-indicator
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a(href='#voting_tab') Votează
        li.tab.col.s3
          a(href='#leaderboard_tab') Clasament
        li.tab.col.s3
          a.active(href='#profile_tab') Scorul tău
        





    #voting_tab.col.s12
      #voting_card.card
        .card-image.waves-effect.waves-block.waves-light
          img.bigCardPic.activator(src='https://graph.facebook.com/#{current_person.fbId}/picture?width=350&height=350')
        .card-content
          span.activator.card-title
            | #{current_person.name}
            i.material-icons.right more_vert
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | #{current_person.name}
            i.material-icons.right close
          p
            a(href="https://facebook.com/#{current_person.fbId}", target="_blank") Add #{current_person.name} as a friend
      .wrapperCenter
          h5#voting_title
            | Cât de hot este #{current_person.name}?
          .wrapperInlineBlock
              ul.voting-buttons
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  li.voting-button-li
                    a.voting-button.waves-effect.waves-circle.waves-red.btn-floating(name='#{val}', href='/voted/#{val}/#{current_person.fbId}')
                      = val
      #hiddenData
        #prevGivenScore(data= prevGivenScore)
        #prevAvgScore(data= prevAvgScore)





    #leaderboard_tab.col.s12
      h5
        | Cei mai 10 din Buzesti
      ul.leaderboard-list
        each person in leaderboard_list
          .card.horizontal.leaderboard-item.waves-effect.waves-block.waves-light
            .card-image
              img.smallCardPic.activator(src="https://graph.facebook.com/#{person.fbId}/picture?width=350&height=350")

            .card-content
              .card-content-left
                p= person.name
                .extraContent
                  p
                    a(href="https://facebook.com/#{person.fbId}", target="_blank") Add #{person.name} as a friend
              .card-content-right
                p
                  | Scor:  
                  span= person.score
                p 
                  | Voturi: 
                  span= person.nrOfVotes




    #profile_tab.col.s12
      #my_score_wrapper
        p Scorul tău:
        span#my_score
      a#fb_login_button.btn.btn-block.btn-social.btn-lg.btn-facebook(scope='public_profile,email', onclick="fbLogIn();")
        i.fa.fa-facebook
        | Verifică scorul cu Facebook
      a#fb_logout_button.btn.btn-block.btn-social.btn-lg.btn-facebook(onclick="fbLogOut();")
        i.fa.fa-facebook
        | Logout
      //
        Below we include the Login Button social plugin. This button uses
        the JavaScript SDK to present a graphical Login button that triggers
        the FB.login() function when clicked.
      
      //
        .fb-login-button(data-max-rows="2", data-size="xlarge", data-show-faces="false", data-auto-logout-link="true")
      //
        fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
      
      #status
