extends layout

block content
  .state-indicator
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a#voting_tab_link(href='#voting_tab') Votează
        li.tab.col.s3
          a#leaderboard_tab_link(href='#leaderboard_tab') TOP 10 fete
        li.tab.col.s3
          a#leaderboardLicee_tab_link(href='#leaderboardLicee_tab') TOP 10 licee
        

    // Modal Structure
    #genderModal.modal.bottom-sheet
      .modal-content
        h4 Hei! Avem aplicatia Intersect pt tine prin care vorbesti cu liceeni cu care te intersectezi
        form#genderForm(action='#')
          p
            input#femaleGender(name='group1', type='radio', data="female")
            label(for='femaleGender') OK. Hai sa vedem cum merge
          p
            input#maleGender(name='group1', type='radio', data="male")
            label(for='maleGender') Mai tarziu 
          p
            input#bothGender(name='group1', type='radio', data="both")
            label(for='bothGender') Nu ma intereseaza

      //
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
    #voting_tab.col.s12
      .wrapperCenter
        h5.voting-title
          | Care e mai hot? Click pt a alege
      #facemash_cards
          .voting-card.card(href="#", onclick="facemash_vote([#{current_person_1.fbId}, #{current_person_2.fbId}, #{current_person_1.score}, #{current_person_2.score}, #{0}]);")
            .card-image.waves-effect.waves-block.waves-light
              img.bigCardPic.activator(src='https://graph.facebook.com/#{current_person_1.fbId}/picture?width=250&height=350')
            .card-content
              span.activator.card-title
                p
                  | #{current_person_1.name}
                p
                  | Scor: #{current_person_1.score}
                p
                  | Liceu: #{current_person_1.liceu}
          .voting-card.card(href="#", onclick="facemash_vote([#{current_person_1.fbId}, #{current_person_2.fbId}, #{current_person_1.score}, #{current_person_2.score}, #{1}]);")
            .card-image.waves-effect.waves-block.waves-light
              img.bigCardPic.activator(src='https://graph.facebook.com/#{current_person_2.fbId}/picture?width=250&height=350')
            .card-content
              span.activator.card-title
                p
                  | #{current_person_2.name}
                p
                  | Scor: #{current_person_2.score}
                p
                  | Liceu: #{current_person_2.liceu}
      #hiddenData
        #prevGivenScore(data= prevGivenScore)
        #prevAvgScore(data= prevAvgScore)
    #leaderboard_tab.col.s12
      .wrapperCenter
          h5.voting-title
            |  Top 10 cele mai hot fete
      ul.leaderboard-list
        each person in leaderboard_list
          .card.horizontal.leaderboard-item.waves-effect.waves-block.waves-light
            .card-image
              img.smallCardPic.activator(src="https://graph.facebook.com/#{person.fbId}/picture?width=350&height=350")

            .card-content.leaderboard-card
              .card-content-left
                  | #{person.name}(#{person.liceu})
              .extraContent
                a.fb-add-button.fb-add-button-leaderboard.btn.btn-block.btn-social.btn-lg.btn-facebook(href="https://facebook.com/#{person.fbId}", target="_blank")
                  i.fa.fa-facebook
                  | Facebook profile
                a.claim-fb-button.btn.btn-lg.display-when-logged-out(scope='public_profile,email', onclick="fbLogIn();") Claim profile
              .card-content-right
                p
                  | Scor:  
                  span= person.score
    #leaderboardLicee_tab.col.s12
      .wrapperCenter
          h5.voting-title
            |  Top 10 licee dupa clasament fete
      ul.leaderboard-list
        each person in highSchoolsLeaderBoard
          .card.horizontal.leaderboard-item.waves-effect.waves-block.waves-light
            .card-content.leaderboard-card
              .card-content-left
                  | #{person.liceu}
              .card-content-right
                p
                  | Scor:  
                  span= person.score            

      //
        #status