extends layout
 
block content
  .state-indicator
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a#voting_tab_link(href='#voting_tab') Posturi anonime Cuza
    #voting_tab.col.s12
      .wrapperCenter
        .ui.card.header
            .content
              .header Vrei sa impartasesti ceva anonim cu colegii tai?
              .extra.content
                .ui.medium.transparent.left.icon.input
                  i.announcement.icon
                  input(type='post', placeholder='Ce vrei sa spui?')
      #facemash_cards
        ul.leaderboard-list
          each post in posts
            .ui.card
              .content
                .right.floated.meta 
                |  #{post.name}
              h4.ui.sub.header
              .ui.large.feed
                .event
                  .content
                    .summary
                      p.card-content
                        | #{post.text}
              .content
                span.right.floated
                  .ui.mini.labeled.button(tabindex='0')
                    .ui.red.button.mini(id="likes#{post.index}", data="#{post.index}")
                      i.heart.icon
                      |  Like
                    a.ui.basic.red.left.pointing.label
                      p(id="likesNo#{post.index}") #{post.nrOfLikes}

                
                span.left.floated
                    i.comment.icon
                    p(id="comments#{post.index}") #{post.comments.length} comentarii
              .extra.content(id="e#{post.index}")

                  if post.comments
                    each comment in post.comments
                      p
                        i.user.icon
                        |  #{comment.name} : #{comment.text}
                .ui.massive.transparent.left.icon.input
                     span.right.floated
                        i.comment.icon
                        input(type='comment', placeholder='Lasa comentariu...', data = "#{post.index}" , userName = "#{userName}")
        .shareaholic-canvas(data-app='share_buttons', data-app-id='25631889')

        #status