extends layout

block content
  .state-indicator
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a.active(href='#voting_tab') Votează
        li.tab.col.s3
          a(href='#leaderboard_tab') Clasament
        li.tab.col.s3
          a(href='#profile_tab') Nota mea
        





    #voting_tab.col.s12
      .wrapperCenter
        h5.voting-title
          | Cât de hot sunt cei de la Untold?
      .voting-card.card
        .card-image.waves-effect.waves-block.waves-light
          img.bigCardPic.activator(src='https://graph.facebook.com/#{current_person.fbId}/picture?width=350&height=350')
        .card-content
          span.activator.card-title
            | #{current_person.name}
            i.material-icons.right more_vert
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | #{current_person.name}
            i.material-icons.right close
          if !current_person.hideFb
              a.fb-add-button.btn.btn-block.btn-social.btn-lg.btn-facebook(href="https://facebook.com/#{current_person.fbId}", target="_blank")
                i.fa.fa-facebook
                | Profil facebook
          a.claim-fb-button.btn.btn-lg(scope='public_profile,email', onclick="fbLogIn();") Acesta este profilul meu
          a.report-button.btn.btn-lg(href="#", onclick="report_profile(#{current_person.fbId});") Report this profile
      .wrapperCenter
          .wrapperInlineBlock
              ul.voting-buttons
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  li.voting-button-li
                    a.voting-button.waves-effect.waves-circle.waves-red.btn-floating(name='#{val}', href='/voted/#{val}/#{current_person.fbId}/#{current_person.nrOfVotes}/#{current_person.score}')
                      = val
      #hiddenData
        #prevGivenScore(data= prevGivenScore)
        #prevAvgScore(data= prevAvgScore)





    #leaderboard_tab.col.s12
      h5.voting-title
        | Cei mai hot 10 de la Untold
      ul.leaderboard-list
        each person in leaderboard_list
          .card.horizontal.leaderboard-item.waves-effect.waves-block.waves-light
            .card-image
              img.smallCardPic.activator(src="https://graph.facebook.com/#{person.fbId}/picture?width=350&height=350")

            .card-content
              .card-content-left
                p= person.name
                .extraContent
                  a.fb-add-button.fb-add-button-leaderboard.btn.btn-block.btn-social.btn-lg.btn-facebook(href="https://facebook.com/#{person.fbId}", target="_blank")
                    i.fa.fa-facebook
                    | Profil facebook
              .card-content-right
                p
                  | Nota:  
                  span= person.score
                p 
                  | Voturi: 
                  span= person.nrOfVotes




    #profile_tab.col.s12
      #my_score_wrapper
          .voting-card.card
            .card-image
              img#current_user_img.bigCardPic
            .card-content
              span.activator.card-title
                | Nota: 
                span#current_user_score
                //
                    p 
                      | Voturi: 
                      span#current_user_votes
                //
                  i.material-icons.right more_vert
            //
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Setări
                  i.material-icons.right close
          a#fb_logout_button.btn.btn-lg.settings-button(onclick="fbLogOut();") Logout of facebook

          a#hide_my_fb_button.btn.btn-lg.settings-button(href="#", onclick="hide_my_fb();") Ascunde profilul meu de Facebook

          //
            a#delete_my_account_button.btn.btn-lg.settings-button(href="#", onclick="delete_my_account();") Ștergere cont
      a#fb_login_button.btn.btn-block.btn-social.btn-lg.btn-facebook(scope='public_profile,email', onclick="fbLogIn();")
        i.fa.fa-facebook
        | Verifică-ți nota cu Facebook

      
      //
        #status
