extends layout

block content
  .state-indicator
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a.active(href='#voting_tab') Votează
        li.tab.col.s3
          a(href='#leaderboard_tab') Clasament
        li.tab.col.s3
          a(href='#profile_tab') Nota mea
        

    // Modal Structure
    #genderModal.modal.bottom-sheet
      .modal-content
        h4 Alege ce vrei să vezi
        form#genderForm(action='#')
          p
            input#femaleGender(name='group1', type='radio', data="female")
            label(for='femaleGender') Fete
          p
            input#maleGender(name='group1', type='radio', data="male")
            label(for='maleGender') Băieți
          p
            input#bothGender(name='group1', type='radio', data="both")
            label(for='bothGender') Ambele

      //
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
    #voting_tab.col.s12
      .wrapperCenter
        h5.voting-title
          | Cât de hot sunt cei de la Untold?
      .voting-card.card
        .card-image.waves-effect.waves-block.waves-light
          img.bigCardPic.activator(src='https://graph.facebook.com/#{current_person.fbId}/picture?width=350&height=350')
        .card-content
          span.activator.card-title
            | #{current_person.name}
            i.material-icons.right more_vert
        .card-reveal
          span.card-title.grey-text.text-darken-4
            | #{current_person.name}
            i.material-icons.right close
          #send_person
            .fb-send(data-href="http://untold.catdehot.com/profile/#{current_person.fbId}", data-size="large")
          if !current_person.hideFb
              a.fb-add-button.btn.btn-block.btn-social.btn-lg.btn-facebook(href="https://facebook.com/#{current_person.fbId}", target="_blank")
                i.fa.fa-facebook
                | Profil facebook
          a.claim-fb-button.btn.btn-lg.display-when-logged-out(scope='public_profile,email', onclick="fbLogIn();") Acesta este profilul meu
          //
            a.share-person-button.btn.btn-lg(href="#", onclick="share_fb();") Send to a friend
          a.report-button.btn.btn-lg(href="#", onclick="report_profile(#{current_person.fbId});") Report this profile
      .wrapperCenter
          .wrapperInlineBlock
              ul.voting-buttons
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  li.voting-button-li
                    a.voting-button.waves-effect.waves-circle.waves-red.btn-floating(name='#{val}', href='/voted/#{val}/#{current_person.fbId}/#{current_person.nrOfVotes}/#{current_person.score}')
                      = val
      #hiddenData
        #prevGivenScore(data= prevGivenScore)
        #prevAvgScore(data= prevAvgScore)





    #leaderboard_tab.col.s12
      .wrapperCenter
          h5.voting-title
            | Cei mai hot 40 de la Untold
      ul.leaderboard-list
        each person in leaderboard_list
          .card.horizontal.leaderboard-item.waves-effect.waves-block.waves-light
            .card-image
              img.smallCardPic.activator(src="https://graph.facebook.com/#{person.fbId}/picture?width=350&height=350")

            .card-content.leaderboard-card
              .card-content-left
                p= person.name
              .extraContent
                a.fb-add-button.fb-add-button-leaderboard.btn.btn-block.btn-social.btn-lg.btn-facebook(href="https://facebook.com/#{person.fbId}", target="_blank")
                  i.fa.fa-facebook
                  | Facebook profile
                a.claim-fb-button.btn.btn-lg.display-when-logged-out(scope='public_profile,email', onclick="fbLogIn();") Claim profile
              .card-content-right
                p
                  | Nota:  
                  span= person.score
                p 
                  | Voturi: 
                  span= person.nrOfVotes




    #profile_tab.col.s12
      .display-when-logged-in
          .voting-card.card
            .card-image
              img#current_user_img.bigCardPic
            .card-content
              if current_user_id
                  #send_my_profile
                      .fb-send(data-href="http://untold.catdehot.com/profile/#{current_user_id}", data-size="large")
                      //
                        .fb-send(data-href="http://untold.catdehot.com/voted/9/100005187391913/11/1.1", data-size="large")
              span#current_user_score_wrapper.activator.card-title
                | Nota: 
                span#current_user_score
                //
                    p 
                      | Voturi: 
                      span#current_user_votes
                //
                  i.material-icons.right more_vert
            //
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Setări
                  i.material-icons.right close
          
         

          a#fb_logout_button.btn.btn-lg.settings-button.display-when-logged-in(onclick="fbLogOut();") Logout of facebook

          a#hide_my_fb_button.btn.btn-lg.settings-button.display-when-logged-in(href="#", onclick="hide_my_fb();") Ascunde profilul meu de Facebook

            a#delete_my_account_button.btn.btn-lg.settings-button(href="#", onclick="delete_my_account();") Ștergere cont
      a#fb_login_button.btn.btn-block.btn-social.btn-lg.btn-facebook.display-when-logged-out(scope='public_profile,email', onclick="fbLogIn();")
        i.fa.fa-facebook
        | Verifică-ți nota cu Facebook

      
      //
        #status