extends layout

block content
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a(href='#voting_tab') Votează
        li.tab.col.s3
          a(href='#leaderboard_tab') Clasament
        li.tab.col.s3
          a(href='#profile_tab') +
    #voting_tab.col.s12
      h5#voting_title
        | Cât de sexy este #{current_person.name}?
      #voting_card.card
        .card-image
          img(src='https://placekitten.com/350/400')
          span.card-title #{current_person.name}
        .card-content
          p
            | #{current_person.name}
      ul.voting-buttons
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          li.voting-button-li
            a.voting-button.waves-effect.waves-circle.waves-red.btn-floating(name='#{val}', href='/voted/#{val}/100001008058747')
              = val
    #leaderboard_tab.col.s12
      h5
        | un titlu destept?, share button etc
      ul.leaderboard-list
        each person in leaderboard_list
          .card.horizontal.leaderboard-item
            .card-image
              img(src='https://placekitten.com/60/60')
            .card-content
              .card-content-left
                p= person.name
              .card-content-right
                p= person.score
                p= person.nrOfVotes
    #profile_tab.col.s12 Adaugă o poza
