extends layout
 
block content
  .state-indicator
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a#voting_tab_link(href='#voting_tab') Posturi anonime din Buzesti

    #voting_tab.col.s12
      .wrapperCenter
        .ui.card
                .content
                  .header Te-am numit #{userName}
                  .description
                    |  Vrei sa impartasesti ceva anonim cu colegii tai?
                  .extra.content
                    .ui.large.transparent.left.icon.input
                      i.announcement.icon
                      input(type='post', placeholder='Ce vrei sa spui?')
      #facemash_cards
        ul.leaderboard-list
          each post in posts
            .ui.card
              .content
                .right.floated.meta 14h
                |  #{userName}
              h4.ui.sub.header
              .ui.large.feed
                .event
                  .content
                    .summary
                      p.card-content
                        | #{post.text}
              .content
                span.right.floated
                  i.heart.outline.like.icon( data="#{post.index}")
                  |       #{post.nrOfLikes} likes
                span.left.floated
                  i.comment.icon
                  |     #{post.comments.length} comentarii
              .extra.content
                  if post.comments 
                    each comment in post.comments
                      p
                        i.user.icon
                        |  #{comment.name} : #{comment.text}
                .ui.large.transparent.left.icon.input
                  i.heart.outline.icon
                  input(type='comment', placeholder='Lasa comentariu...', data="#{post.index}")
        #status